
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none!important;
}
p,ul{
    margin-bottom: 0!important;
}
li{
    list-style: none;
}
body{
    font-family: "Dancing Script"!important;
    background-color:rgb(238, 218, 218)!important;
}
header {
    height:3.2rem;
}
.logo{
    color: black;
    font-family: "Satisfy";
    font-size: 1.5rem;
}
header ul li{
    cursor: pointer;
}
.carousel-inner .carousel-item{
    height:400px;
}
.carousel-inner .carousel-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.quote{
    max-width: 600px;
    margin: auto;
    text-align: center;
}
.card{
    font-family: "Poppins";
}